# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\software-udvikling-anden-semester\MAL_assignment_3_rational_sequence\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
